/target
/out
/neardev
src/contract/depositum/neardev
.secrets
node_modules
testnet.env
betanet.env
build
.env

src/contract/ref_farming_strategy/target
src/contract/counter/target
src/contract/testing/target
src/web/asset/icon
